* {
    box-sizing: border-box;
}

:root {
    font-size: 1.2rem;

    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(240, 240, 240);

    height: 100vh;
}

main, aside {
    flex-shrink: 0;
    flex-basis: 0;
    
    border-radius: 0.5em;
    height: 100%;
    gap: 0.5rem;

    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 6;
    overflow: auto;
}

aside {
    flex-grow: 4;

    display: flex;
    flex-direction: column;
    width: 10px;
}

aside > * {
    border-radius: inherit;
}

h1 {
    background-color: transparent;
    font-size: 3em;
    height: auto;
    text-align: center;
    margin: 0;
}

section {
    padding: 1rem;
    background-color: white;
}

section > header {
    font-style: italic;
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: 300;
}

section > header > strong {
    text-transform: uppercase;
    display: block;
    font-size: 1.2em;
    font-style: normal;
}

input {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;

    padding: 0.5rem;
    width: 100%;
    resize: none;
    border: none;
    outline: rgba(0, 0, 0, 0.25) solid 2px;
    border-radius: 10px;
}

input:focus {
    outline-color: black;
}

button {
    font-size: 1em;
    cursor: pointer;
    background-color: inherit;
    border-radius: 10px;
    border: none;
    outline: rgba(0, 0, 0, 0.25) solid 1px;
    color: black;
}

button:hover {
    background-color: rgb(230, 230, 230) !important;
}

footer {
    /* background-color: white; */
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}