* {
    box-sizing: border-box;
}

:root {
    font-size: 2rem;
}

body {
    margin: 0;
    padding: 0.5em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 6fr 4fr;
    gap: 0.5rem;
    background-color: rgb(240, 240, 240);

    height: 100vh;
}

main, aside {
    border-radius: 0.5em;
    height: 100%;
}

main {
    overflow: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;
}

aside {
    background-color: white;
    padding: 0.5em;
    overflow: hidden;
}

aside > * {
    margin-bottom: 0.5rem;
}

input {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;

    padding: 0.5rem;
    width: 100%;
    resize: none;
    border: none;
    outline: rgba(0, 0, 0, 0.25) solid 2px;
    border-radius: 10px;
}

input:focus {
    outline-color: black;
}

button {
    font-size: 1em;
    cursor: pointer;
    background-color: inherit;
    border-radius: 10px;
    border: none;
    outline: rgba(0, 0, 0, 0.25) solid 1px;
    color: black;
}

button:hover {
    background-color: rgb(230, 230, 230) !important;
}