.export {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5em;
    border: 1px solid black;
    background-color: rgb(255, 203, 106);
    border-radius: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}